          <div class="row">
            <div class="col-md-4">
              <div class="grid simple">
                <div class="grid-body no-border">
                  <br>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-label">Name</label>
                        <div class="controls">
                          <input type="text" readonly [value]="devDatas.devname" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Position</label>
                        <div class="controls">
                          <input type="text" readonly [value]="devDatas.devposition" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Email</label>
                        <div class="controls">
                          <input type="email" readonly [value]="devDatas.devemail" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Contact Number</label>
                        <div class="controls">
                          <input type="text" readonly [value]="devDatas.devcontact" class="form-control">
                        </div>
                      </div>
                      <div class="form-actions">
                        <div class="pull-right">
                          <button class="btn btn-warning btn-cons" type="button" (click)="onBack()">Back</button>
                          <button class="btn btn-primary btn-cons" 
                          [routerLink]="['/dashboard/developers', devDatas.devid, 'edit']"
                          [queryParams]="{allowEdit: true}" 
                          type="button">Edit</button>
                          <button class="btn btn-danger btn-cons" type="submit">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="grid simple">
                <div class="grid-body no-border">
                  <h2>Project <span class="semi-bold">List</span></h2>
                  <br>
                  <div class="form-group">
                    <label for="">Filter</label>
                    <select id="" [ngModel]="filter" (ngModelChange)="filterChange($event)">
                      <option value="6">Show All</option>
                      <option value="0">Not started</option>
                      <option value="1">On going</option>
                      <option value="2">Almost Done</option>
                      <option value="3">Success</option>
                      <option value="4">Failed</option>
                      <option value="5">Pending</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <div class="clearfix"></div>
                    <div class="input-append success date col-xs-10 col-lg-6 no-padding">
                      <input type="text" class="form-control" [ngModel]="searchValue" (ngModelChange)="onSearch($event)">
                      <span class="add-on"><i class="fa fa-search"></i></span>
                    </div>
                  </div>
                  <br>
                  <table class="table table-hover no-more-tables">
                    <thead>
                      <tr>
                        <th class="text-center">Project Name</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Bonus</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let project of devProjects">
                        <td class="text-center"><a 
                        [routerLink]="['/dashboard/project', project.projectid]"
                        >{{project.projectname}}</a></td>
                        <td class="text-center">
                          <span class="label"
                            [class.label-gray]="project.projectstatus == 0"
                            [class.label-info]="project.projectstatus == 1"
                            [class.label-warning]="project.projectstatus == 2"
                            [class.label-success]="project.projectstatus == 3"
                            [class.label-important]="project.projectstatus == 4"
                            [class.label-pink]="project.projectstatus == 5"
                          >{{ project.projectstatus | convertToStatus }}</span>
                        </td>
                        <td class="text-center">{{ project.projectbonus }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>