          <div class="row">
            <div class="col-md-7">
              <div class="grid simple">
                <div class="grid-body no-border">
                  <br>
                  <div class="row">
                    <div class="col-md-12">
                      <form [formGroup]="devForm" (ngSubmit)="onSaveDevelopers()">
                        <div class="form-group">
                          <label class="form-label">Name</label>
                          <div class="input-with-icon right">
                            <i class="fa-exclamation fa invalid" *ngIf="devForm.get('devname').touched && !devForm.get('devname').valid"></i>
                            <i class="fa-check fa valid" *ngIf="devForm.get('devname').touched && devForm.get('devname').valid"></i>
                            <input type="text" class="form-control" formControlName="devname">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label">Position</label>
                          <div class="input-with-icon right">
                            <i class="fa-exclamation fa invalid" *ngIf="devForm.get('devposition').touched && !devForm.get('devposition').valid"></i>
                            <i class="fa-check fa valid" *ngIf="devForm.get('devposition').touched && devForm.get('devposition').valid"></i>
                            <input type="text" class="form-control" formControlName="devposition">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label">Email</label>
                          <div class="input-with-icon right">
                            <i class="fa-exclamation fa invalid" *ngIf="devForm.get('devemail').touched && !devForm.get('devemail').valid"></i>
                            <i class="fa-check fa valid" *ngIf="devForm.get('devemail').touched && devForm.get('devemail').valid"></i>
                            <input type="text" class="form-control" formControlName="devemail">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="form-label">Contact No.</label>
                          <div class="input-with-icon right">
                            <i class="fa-exclamation fa invalid" *ngIf="devForm.get('devcontact').touched && !devForm.get('devcontact').valid"></i>
                            <i class="fa-check fa valid" *ngIf="devForm.get('devcontact').touched && devForm.get('devcontact').valid"></i>
                            <input type="text" class="form-control" formControlName="devcontact">
                          </div>
                        </div>
                        <div class="pwd-area" formGroupName="authpwd">
                          <div class="form-group">
                            <label class="form-label">Password</label>
                            <div class="input-with-icon right">
                              <i class="fa-exclamation fa invalid" *ngIf="devForm.get('authpwd.devpwd').touched && !devForm.get('authpwd.devpwd').valid"></i>
                              <i class="fa-check fa valid" *ngIf="devForm.get('authpwd.devpwd').touched && devForm.get('authpwd.devpwd').valid"></i>
                              <input type="password" class="form-control" formControlName="devpwd">
                            </div>
                            <label class="error" *ngIf="devForm.get('authpwd.devpwd').errors && devForm.get('authpwd.devpwd').touched">Passwords must have at least 8 characters and contain at least two of the following: uppercase letters, lowercase letters and numbers...</label>
                          </div>
                          <div class="form-group">
                            <label class="form-label">Confirm Password</label>
                            <div class="input-with-icon right">
                              <i class="fa-exclamation fa invalid" *ngIf="devForm.get('authpwd.devconfirmpwd').touched && !devForm.get('authpwd.devconfirmpwd').valid"></i>
                              <i class="fa-check fa valid" *ngIf="devForm.get('authpwd.devconfirmpwd').touched && devForm.get('authpwd.devconfirmpwd').valid"></i>
                              <input type="password" class="form-control" formControlName="devconfirmpwd">
                            </div>
                            <label class="error" *ngIf="devForm.get('authpwd').errors && devForm.get('authpwd').touched">Password did not match...</label>
                          </div>
                        </div>
                        <div class="form-actions">
                          <div class="pull-right">
                            <button class="btn btn-success btn-cons" type="submit"><i class="icon-ok"></i> Save</button>
                            <button class="btn btn-warning btn-cons" type="button" routerLink="/dashboard">Back</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="grid simple">
                <div class="grid-body no-border">
                  <h3>Dev<span class="semi-bold">elopers</span></h3>
                  <br>
                  <table class="table table-hover no-more-tables">
                    <thead>
                      <tr>
                        <th class="text-left">Developers</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let dev of devDatas">
                        <td class="text-left"><a [routerLink]="['/dashboard/developers', dev.devid]">{{dev.devname}}</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>