        <div class="row">
            <div class="col-md-2 col-vlg-2 col-sm-6">
              <div class="tiles gray m-b-10">
                <div class="tiles-body">
                  <div class="tiles-title text-black"><strong>Not Started</strong><br>Project</div>
                  <div class="widget-stats">
                    <div class="wrapper last transparent">
                      <span class="item-count animate-number semi-bold">{{getCountOfProject(0)}}</span>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info btn-cons" (click)="onfilterProjects(0)">View</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-vlg-2 col-sm-6">
              <div class="tiles blue m-b-10">
                <div class="tiles-body">
                  <div class="tiles-title text-black"><strong>Ongoing</strong><br>Project</div>
                  <div class="widget-stats">
                    <div class="wrapper last transparent">
                      <span class="item-count animate-number semi-bold">{{getCountOfProject(1)}}</span>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info btn-cons" (click)="onfilterProjects(1)">View</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-vlg-2 col-sm-6">
              <div class="tiles orange m-b-10">
                <div class="tiles-body">
                  <div class="tiles-title text-black"><strong>Almost Done</strong><br>Project</div>
                  <div class="widget-stats">
                    <div class="wrapper last transparent">
                      <span class="item-count animate-number semi-bold">{{getCountOfProject(2)}}</span>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info btn-cons" (click)="onfilterProjects(2)">View</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-vlg-2 col-sm-6">
              <div class="tiles green m-b-10">
                <div class="tiles-body">
                  <div class="tiles-title text-black"><strong>Success</strong><br>Project</div>
                  <div class="widget-stats">
                    <div class="wrapper last transparent">
                      <span class="item-count animate-number semi-bold">{{getCountOfProject(3)}}</span>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info btn-cons" (click)="onfilterProjects(3)">View</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-vlg-2 col-sm-6">
              <div class="tiles red m-b-10">
                <div class="tiles-body">
                  <div class="tiles-title text-black"><strong>Failed</strong><br>Project</div>
                  <div class="widget-stats">
                    <div class="wrapper last transparent">
                      <span class="item-count animate-number semi-bold">{{getCountOfProject(4)}}</span>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info btn-cons" (click)="onfilterProjects(4)">View</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-2 col-vlg-2 col-sm-6">
              <div class="tiles pink m-b-10">
                <div class="tiles-body">
                  <div class="tiles-title text-black"><strong>Pending</strong><br>Project</div>
                  <div class="widget-stats">
                    <div class="wrapper last transparent">
                      <span class="item-count animate-number semi-bold">{{getCountOfProject(5)}}</span>
                    </div>
                    <br>
                    <button type="button" class="btn btn-info btn-cons" (click)="onfilterProjects(5)">View</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="grid simple ">
                <div class="grid-body no-border">
                  <div class="clearfir">
                    <div class="pull-left">
                      <h3 class="pull-left">Project <span class="semi-bold">List</span></h3>
                    </div>
                    <div class="pull-right">
                      <button *ngIf="isFiltered" style="margin: 10px 0;" class="btn btn-warning btn-cons pull-right" (click)="onClearFilter()">Clear Filter</button>
                    </div>
                  </div>
                  <table class="table table-bordered no-more-tables">
                    <thead>
                      <tr>
                        <th class="text-center">Project Name</th>
                        <th class="text-center">Project Details</th>
                        <th class="text-center">Project Start</th>
                        <th class="text-center">Project Deadline</th>
                        <th class="text-center">Days Left</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Developers</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let projectItem of projectLists">
                        <td class="text-center"><a [routerLink]="['project', projectItem.projectid]">{{ projectItem.projectname }}</a></td>
                        <td class="text-center">{{ projectItem.projectdesc }}</td>
                        <td class="text-center">{{ projectItem.projectstart | date }}</td>
                        <td class="text-center">{{ projectItem.projectdeadline | date }}</td>
                        <td class="text-center">{{ projectItem.projectdaysleft }}</td>
                        <td class="text-center">
                          <span class="label" 
                            [class.label-gray]="projectItem.projectstatus == 0"
                            [class.label-info]="projectItem.projectstatus == 1"
                            [class.label-warning]="projectItem.projectstatus == 2"
                            [class.label-success]="projectItem.projectstatus == 3"
                            [class.label-important]="projectItem.projectstatus == 4"
                            [class.label-pink]="projectItem.projectstatus == 5"
                          >{{ projectItem.projectstatus | convertToStatus }}</span>
                        </td>
                        <td class="text-center devs"><button [routerLink]="['developers', dev.id]" *ngFor="let dev of projectItem.developers" type="button" class="btn btn-white btn-xs btn-mini">{{ getDeveloperDetails(dev.id).devname }}</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>