<div class="alert-notification" [class.active]="isAlertOpen">
    <div class="alert-body">
        <div class="alert-content" *ngIf="isAlertOpen">
            <div class="alert-header">{{ alertStatus.alertheader }}</div>
            <div class="alert-details">
                {{ alertStatus.alertmessage }}
            </div>
            <div class="alert-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-warning btn-cons" (click)="onCancel()">{{ !alertStatus.isalert ? 'Cancel' : 'Back' }}</button>
                    <button *ngIf="!alertStatus.isalert" type="button" class="btn btn-danger btn-cons" (click)="onAccept()">Yes</button>
                </div>
            </div>
        </div>
    </div>
</div>