    <div class="container">
      <div class="row login-container column-seperation">
        <div class="col-md-8 col-md-offset-2">
          <br>
          <form [formGroup]="signinForm" (ngSubmit)="onSignin()" class="login-form validate" id="login-form" name="login-form">
            <div class="row">
              <div class="form-group col-md-10">
                <label class="form-label">Email</label>
                <input class="form-control" id="txtusername" name="txtusername" type="email" formControlName="email">
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-10">
                <label class="form-label">Password</label> <span class="help"></span>
                <input class="form-control" id="txtpassword" name="txtpassword" type="password" formControlName="password">
              </div>
            </div>
            <div class="row">
              <div class="col-md-10">
                <button class="btn btn-primary btn-cons pull-right" type="submit">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
