          <div class="row" *ngFor="let project of projectDetails">
            <div class="col-md-8">
              <div class="grid simple">
                <div class="grid-body no-border">
                  <br>
                  <h1>{{ project.projectname }}</h1>
                  <p>{{ project.projectdesc}}</p>
                  <div class="row">
                    <div class="col-md-8">
                      <h2>Dev<span class="semi-bold">elopers</span></h2>
                      <table class="table table-hover no-more-tables">
                        <thead>
                          <tr>
                            <th class="text-left">Developers</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let dev of project.developers">
                            <td class="text-left"><button [routerLink]="['/dashboard/developers',dev.id]" type="button" class="btn btn-white btn-xs btn-mini">{{ getDeveloperDetails(dev.id).devname }}</button></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="col-md-4">
                      <h2>Sta<span class="semi-bold">tus</span></h2>
                      <span class="label"
                        [class.label-info]="project.projectstatus == 1"
                        [class.label-warning]="project.projectstatus == 2"
                        [class.label-success]="project.projectstatus == 3"
                        [class.label-important]="project.projectstatus == 4"
                        [class.label-pink]="project.projectstatus == 5"
                      >{{project.projectstatus | convertToStatus}}</span><br><br>
                      <!--<span class="label label-inverse">On going</span><br><br>
                      <span class="label label-warning">Almost done</span><br><br>
                      <span class="label label-success">Success</span><br><br>
                      <span class="label label-danger">failed</span>-->
                    </div>
                  </div>
                  <div class="form-actions">
                    <div class="pull-right">
                      <button (click)="onBack()" class="btn btn-warning btn-cons" type="button">Back</button>
                      <button
                      [routerLink]="['edit']"
                      [queryParams]="{allowEdit: true}" 
                      class="btn btn-primary btn-cons" type="button">Edit</button>
                      <button class="btn btn-danger btn-cons" type="button" (click)="onDelete()">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="grid simple">
                <div class="grid-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="tiles m-b-10">
                        <div class="tiles-body">
                          <div class="tiles-title text-black">Project Bonus Project </div>
                          <div class="widget-stats">
                            <div class="wrapper last transparent">
                              <span class="item-count animate-number semi-bold">{{ project.projectbonus | currency:'PHP':false }}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="tiles m-b-10">
                        <div class="tiles-body">
                          <div class="tiles-title text-black">Project Start</div>
                          <div class="widget-stats">
                            <div class="wrapper last transparent">
                              <span>{{project.projectstart | date:'fullDate'}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="tiles m-b-10">
                        <div class="tiles-body">
                          <div class="tiles-title text-black">Project Deadline</div>
                          <div class="widget-stats">
                            <div class="wrapper last transparent">
                              <span>{{ project.projectdeadline | date:'fullDate'}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12">
                      <div class="tiles m-b-10"
                      [class.red]="project.projectdaysleft < 5"
                      [class.blue]="project.projectdaysleft > 5"
                      [class.green]="project.projectdaysleft === 0">
                        <div class="tiles-body">
                          <div class="tiles-title text-black">Days Left</div>
                          <div class="widget-stats">
                            <div class="wrapper last transparent">
                              <span>{{project.projectdaysleft}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4">
              <form [formGroup]="projectViewForm" (ngSubmit)="onSubmitForm()">
                <div class="grid simple">
                  <div class="grid-body">
                    <h2>Update <span class="semi-bold">Status</span></h2>
                    <div class="form-group">
                        <label class="form-label">End Date</label>
                      <div class="controls">
                          <my-date-picker name="mydate" formControlName="projectenddate" [options]="projectStartOption" [(ngModel)]="projectFinishDate"></my-date-picker>
                      </div>
                      <label class="error" *ngIf="!projectViewForm.get('projectenddate').valid && !projectViewForm.get('projectenddate').pending">End date must be greater than project start date...</label>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Status</label>
                        <select id="remote" style="width:100%" formControlName="statusvalue">
                          <option value="0" selected hidden disabled="disabled">Choose...</option>
                          <option value="3">Success</option>
                          <option value="4">Failed</option>
                        </select>
                        <label class="error" *ngIf="!projectViewForm.get('statusvalue').valid && projectViewForm.get('statusvalue').touched">Please choose status value...</label>
                    </div>
                    <div class="form-actions">
                      <div class="pull-right">
                        <button class="btn btn-success btn-cons" type="submit">Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>