          <div class="row">
            <form [formGroup]="projectForm" (ngSubmit)="onSubmitForm()">
            <div class="col-md-7">
              <div class="grid simple">
                <div class="grid-body no-border">
                  <br>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-label">Project Name</label>
                        <div class="controls">
                          <input type="text" class="form-control" formControlName="projectname">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Project Description</label>
                        <div class="controls">
                          <textarea type="text" class="form-control" formControlName="projectdesc" rows="4"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Project Start</label>
                        <div class="controls" style="position:relative;">
                          <my-date-picker name="mydate" formControlName="projectstart" [options]="projectStartOption" [(ngModel)]="startDate"> </my-date-picker>
                        </div>
                        <label class="error" *ngIf="!projectForm.get('projectstart').valid && projectForm.get('projectstart').touched && !projectForm.get('projectstart').pending">Please Select Valid Date...</label>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Project Deadline</label>
                        <div class="controls">
                          <my-date-picker name="mydate" formControlName="projectdeadline" [options]="projectStartOption" [(ngModel)]="endDate"> </my-date-picker>
                        </div>
                        <label class="error" *ngIf="!projectForm.get('projectdeadline').valid && projectForm.get('projectdeadline').touched && !projectForm.get('projectdeadline').pending">Please Select Valid Date...</label>
                      </div>
                      <div class="form-group">
                        <label class="form-label">Project Bonus</label>
                        <div class="controls">
                          <input type="text" formControlName="projectbonus" placeholder="" class="form-control">
                        </div>
                      </div>
                      <div class="form-actions">
                        <div class="pull-right">
                          <button class="btn btn-success btn-cons" type="submit"><i class="icon-ok"></i> {{ paramsValue ? "Update" : "Save"}}</button>
                          <button class="btn btn-white btn-cons" [routerLink]="['/dashboard']" type="button">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </form>
            <div class="col-md-5">
              <div class="grid simple">
                <div class="grid-body no-border">
                  <h3>Dev<span class="semi-bold">elopers</span></h3>
                  <br>
                  <div class="row-fluid" *ngFor="let dev of isDeveloperChecked">
                    <div class="checkbox check-success">
                        <input 
                        [id]="dev.value"
                        type="checkbox"
                        value="{{dev.value}}"
                        [(ngModel)]="dev.checked"
                        />
                        <label [for]="dev.value">{{ dev.devname }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>