<div class="header navbar navbar-inverse ">
      <div class="navbar-inner">
        <div class="header-seperation">
          <ul class="nav pull-left notifcation-center visible-xs visible-sm">
            <li class="dropdown">
              <a href="#main-menu" data-webarch="toggle-left-side">
                <i class="material-icons">menu</i>
              </a>
            </li>
          </ul>
          <a routerLink="/dashboard">
            <img src="assets/img/logo.png" class="logo" alt="" data-src="assets/img/logo.png" data-src-retina="assets/img/logo2x.png" width="106" height="21" />
          </a>
        </div>
        <div class="header-quick-nav">
        </div>
      </div>
    </div>
    <div class="page-container row-fluid">
      <div class="page-sidebar" id="main-menu">
        <div class="page-sidebar-wrapper scrollbar-dynamic" id="main-menu-wrapper">
          <p class="menu-title sm">Links</p>
          <ul>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a routerLink="/dashboard" ><i class="material-icons">dashboard</i><span class="title">Dashboard</span></a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/dashboard/newproject"><i class="material-icons">add</i><span class="title">New Project</span></a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/dashboard/developers"><i class="material-icons">people</i><span class="title">Developers</span></a>
            </li>
            <li>
              <a routerLink="/auth"><i class="material-icons">power_settings_new</i><span class="title">Logout</span></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="page-content">
        <div class="content">
          <router-outlet></router-outlet>
      </div>
    </div>