/* You can add global styles to this file, and also import other style files */
a{
    cursor: pointer;
}
.alert-notification{
    position: fixed;
    z-index: 9999;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    transition: all 0.4s;
    opacity: 0;
    visibility: hidden;
    &:before{
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 0;
        height: 100%;
    }
    .alert-body{
        width: 320px;
        text-align: left;
        background-color: transparent;
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        left: -1px;
        visibility: hidden;
        opacity: 0;
        transform: translate(0,-100px);
        transition: all 0.4s;
        border-radius: 4px;
        .alert-header{
            height: 40px;
            background-color: #1f3853;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            padding: 0 10px;
            line-height: 40px;
            color: #fff;
            font-size: 14px;
            letter-spacing: 0.3px;
        }
        .alert-details{
            padding: 20px 10px;
            font-size: 14px;
            background-color: #fff;
        }
        .alert-footer{
            padding: 10px 10px 0;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            &:before,&:after{
                content: '';
                display: table;
                clear: both;
            }
            background-color: #e5e9ec;
        }
    }
    &.active{
        visibility: visible;
        opacity: 1;
        .alert-body{
            visibility: visible;
            opacity: 1;
            transform: translate(0,0);
        }
    }
}
table{
    td{
        &.devs{
            button{
                &~button{
                    margin-left: 4px;
                }
            }
        }
    }
}
.tiles{
    &.orange{
        background-color: #F9BF3B;
    }
    &.gray{
        background-color: #6C7A89;
    }
    &.pink{
        background-color: #DB0A5B;
    }
}
.label{
    &.label-pink{
        background-color: #DB0A5B;
        color: #fff;
    }
    &.label-gray{
        background-color: #6C7A89;
        color: #fff;
    }
}
.form-control{
    &.ng-invalid.ng-touched{
        border: 1px solid #f35958;
    }
    &.ng-valid.ng-touched{
        border: 1px solid #0aa699;
    }   
}
.form-group{
    i.invalid{
        color: #f35958;
    }
    i.valid{
        color: #0aa699;
    }
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: #ffffff;
}
.mydp, .mydp .headertodaybtn, .mydp .selection, .mydp .selectiongroup, .mydp .selector{
    border-radius: 2px !important;
    .header{
        position: relative !important;
    }
}
.mydp, .mydp .headertodaybtn{
    border: 1px solid #e5e9ec !important;
}
my-date-picker{
    &.ng-invalid{
        .mydp{
            border: 1px solid #f35958 !important;
        }
    }
    &.ng-valid{
        .mydp{
            border: 1px solid #0aa699 !important;
        }
    }
}